<!--THE MAIN HOMEPAGE-->

{% extends "base.html" %}
{% block content %}
    {% load static %}
    <style>
        .personal_statement{width: 80%; margin-left: 5%; text-align: justify; border-style: dotted;border-color: brown; }
    </style>
    <br><br>
    <div class="personal_statement">
        <h1>PERSONAL STATEMENT</h1>
        <p>
            Since I was young, I've always enjoyed playing with numbers and found myself keen on technology. 
            Most of my family admired my brilliance but were continually irritated by how I disassembled most 
            of their appliances while attempting to figure out "the physics" behind them. However, their 
            continuous comments that "that is not a Rwandan girl's behavior" drove me to want to learn more.
        </p>
        <p>
            My desire to prove to them that girls/women can produce effective technologies drove me to work
            hard and learn more about technology. As such, since I couldn't access all the electronics I wanted,
            I sought small gigs at street movie vendors and bought my first phone at 14, which was my first
            proud non-academic accomplishment.
        </p>
        <p>
            So far as I know, my life has been filled with much success and learning. 
            Despite a challenging first high school year at a competitive international school in a foreign country,
            I received several prizes and opportunities. In this vibrant community, I developed many skills such 
            project management, communication, public speaking, and leadership skills, all gained from multiple 
            opportunities that equipped me with more leadership skills.
        </p>
        <p>
            However, owing to the quantity of plastic garbage that appalled me at the beaches, polluted streets, 
            and so on, I began to love the environment and sustainable techniques to safeguard our world throughout 
            my foreign stay. As a result of my expertise in technology, my future goal is to devise appropriate and 
            easy sustainability tech solutions to the various challenges facing our world. I am currently seeking IT 
            employment in conservation-related organizations and working on projects of this nature. 
        </p>
        <p>
            Throughout my journey, I have evolved into an aspiring computer engineer interested in hardware development, 
            assessing computer-related impacts on society, and aiming to work with African Tech firms for growth and development.
        </p>
    </div>
    <br>
{% endblock content %}